* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}
html{
  scroll-behavior: smooth;
}
.home,
.about-us,
.destination,
.services,
.contact-us,
.sign-up,
.trailer {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.about-us{
  /* background-image: url('./images/img-1.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.destination{
  /* background-image: url('./images/img-2.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.services{
  /* background-image: url('./images/img-3.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.contact-us{
  /* background-image: url('./images/img-4.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.sign-up {
  /* background-image: url('./images/img-5.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.trailer{
  /* background-image: url('./images/img-5.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}